* {
    margin: 0;
    padding: 0;
}

:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #f6f9ff;
    color: #444444;
}

a {
    color: #4154f1;
    text-decoration: none;
}

a:hover {
    color: #717ff5;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}

#main {
    margin-top: 50px;
    padding: 20px 30px;
    transition: all 0.3s;
    transition: all 0.3s;
}

@media (max-width: 1199px) {
    #main {
        padding: 20px;
    }
}

.pagetitle {
    margin-bottom: 10px;
}

.pagetitle h1 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
    color: #012970;
}


.logo {
    line-height: 1;
}

@media (min-width: 1200px) {
    .logo {
        width: 280px;
    }
}

.logo img {
    max-height: 36px;
    margin-right: 14px;
    margin-left: -10px;
}

.logo span {
    font-size: 23px;
    font-weight: 700;
    color: #000000;
    font-family: "Nunito", sans-serif;
}

.header {
    transition: all 0.5s;
    z-index: 997;
    width: auto;
    height: 60px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    padding-left: 20px;
    padding-right: 50px;
}

.header .tituloSite span {
    font-size: 16pt;
}

.header-nav ul {
    list-style: none;
}

.header-nav>ul {
    margin: 0;
    padding: 0;
}

.header .header-nav {
    margin-right: -40px;
}

.add {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: black;
}

.table .nomeTorre:hover {
    cursor: pointer;
}
.iconsWindTableIndex {
    margin-top: 6px;
    width: 26px;
    height: 26px;
}
